{% extends 'base.html.twig' %}

{% block title %}Créer un super event{% endblock %}

{% block main %}
    <h2> Créez une super teuf ouais les jeunes </h2>
    <div class="author">
        <p>
            Créé par {{ app.user.firstName }}
            <br>
            Sur le campus de {{ app.user.campus.name }}
        </p>
    </div>

    {{ form_start(event_form) }}
    {{ form_row(event_form.name) }}
    {% if event_form.name.vars.errors|length > 0 %}
        <div class="errors">
            {% for error in event_form.name.vars.errors %}
                <p class="error">{{ error.message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {{ form_row(event_form.startingDateHour) }}
    {{ form_row(event_form.endDateHour) }}
    {{ form_row(event_form.nbInscriptionsMax) }}
    {{ form_row(event_form.registrationDeadline) }}
    {{ form_row(event_form.eventInfo) }}
    {{ form_row(event_form.place) }}
    <div class="form-btn-link">
        <a href="{{ path('place_create') }}" class="a-btn">
            Ou créez un lieu
        </a>
    </div>
    {{ form_row(event_form.poster_file) }}
    <div class="save-btn">
        {{ form_widget(event_form.saveDraft) }}
        {{ form_widget(event_form.publish) }}
    </div>
    {{ form_end(event_form) }}
{% endblock %}
