{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Détails
{% endblock %}

{% block main %}
    <img src="{{ event.posterFile }}" alt="image de l'évènement">
    <h1>Détail de l'évènement : {{ event.name }}</h1>
    <p>crée par {{ event.organizer.firstName }} {{ event.organizer.name }}</p>
    <p>Campus de {{ event.campus.name }}</p>

    <p>participants : {{ event.participants|length }} / {{ event.nbInscriptionsMax }}</p>
    <p>date : {{ event.startingDateHour | date('d/m/Y H:i:s') }}</p>
    <p>informations pratiques : {{ event.eventInfo }}</p>
    <p>On se retrouve ici : {{ event.place.street }}, {{ event.place.postalCode }} {{ event.place.city }}</p>

    {% set found = false %}

    {% for Idparticipant in listIdParticipants %}
        {% if Idparticipant.id == userConnectedId %}
            {% set found = true %}
        {% endif %}
    {% endfor %}

    {% if event.state.label == 'Ouverte' %}
        {% if not found %}
            <a href="{{ path('event_join', { id: event.id }) }}">S'inscrire</a>
        {% endif %}
    {% endif %}

    {% if event.state.label in ['Ouverte', 'Cloturée'] %}
        {% if found %}
            <a href="{{ path('event_withdraw', { id: event.id }) }}">Se désister</a>
        {% endif %}
    {% endif %}


    {% if app.user and (app.user == event.organizer or is_granted('ROLE_ADMIN')) %}

        <a href="{{ path('event_edit', { id: event.id}) }}"> Éditez votre sortie </a>
        <a href="{{ path('event_delete', { id: event.id, token : csrf_token('delete' ~event.id)}) }}"
           onclick="return confirm('êtes-vous sûr.e de vouloir supprimer votre event ?')"> Supprimez votre sortie </a>
        {% if event.state.label != 'Annulée' %}
            <a href="{{ path('event_cancel', {id:event.id}) }}"
               onclick="return confirm('êtes vous sûr de vouloir annuler votre event ?')"> Annulez votre event </a>
        {% endif %}


        {% if event.state.label == 'Annulée' %}
            <a href="{{ path('event_reactivate', {id:event.id}) }}"> Réactivez votre sortie </a>
        {% endif %}

    {% endif %}

    {% set address = event.place.street ~ ', ' ~ event.place.postalCode ~ ' ' ~ event.place.city %}
    {% set addressGoogle = address|replace({' ': '+'}) %}
    <iframe src="https://maps.google.com/maps?q={{ addressGoogle }}&amp;output=embed"></iframe>

    <h3>Liste des participants</h3>
    {% for participant in listNamesParticipants %}
        {% for value in participant %}
            {{ value }}
        {% endfor %}

    {% endfor %}

{% endblock %}


