{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Liste des Sorties{% endblock %}

{% block main %}
    <div class="events-filters">
        {{ form_start(filters) }}
        {{ form_row(filters.campus) }}
        {{ form_row(filters.name) }}
        {{ form_row(filters.startingDay) }}
        {{ form_row(filters.endingDay) }}
        <div class="filters-checkboxes">
            <h3>Les événements :</h3>
            <div>
                {{ form_widget(filters.organizer) }}
                {{ form_label(filters.organizer) }}
            </div>
            <div>
                {{ form_widget(filters.subscribed) }}
                {{ form_label(filters.subscribed) }}
            </div>
            <div>
                {{ form_widget(filters.notSubscribed) }}
                {{ form_label(filters.notSubscribed) }}
            </div>
            <div>
                {{ form_widget(filters.passedEvents) }}
                {{ form_label(filters.passedEvents) }}
            </div>
        </div>
        {{ form_end(filters) }}
    </div>

    <div class="events-container">
        {% if events|length != 0 %}
            {% include 'event/event.html.twig' %}
        {% else %}
            <div class="event-date-container">
                <p>Aucun événement ne correspond à votre recherche.</p>
            </div>
        {% endif %}
    </div>

    {% if pages != 0 and pages != 1 %}
        <div class="pagination">
            {% if page == 1 %}
                <div></div>
                <div></div>
                <div><a href="{{ path('event_list', {page: page}) }}">{{ page }}</a></div>
                <div><a href="{{ path('event_list', {page: page + 1}) }}">Next ></a></div>
                <div><a href="{{ path('event_list', {page: pages}) }}">Last >></a></div>
            {% elseif page < pages %}
                <div><a href="{{ path('event_list', {page: 1}) }}"><< First</a></div>
                <div><a href="{{ path('event_list', {page: page - 1}) }}">< Prev</a></div>
                <div><a href="{{ path('event_list', {page: page}) }}">{{ page }}</a></div>
                <div><a href="{{ path('event_list', {page: page + 1}) }}">Next ></a></div>
                <div><a href="{{ path('event_list', {page: pages}) }}">Last >></a></div>
            {% else %}
                <div><a href="{{ path('event_list', {page: 1}) }}"><< First</a></div>
                <div><a href="{{ path('event_list', {page: page - 1}) }}">< Prev</a></div>
                <div><a href="{{ path('event_list', {page: page}) }}">{{ page }}</a></div>
                <div></div>
                <div></div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
