{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Liste des Sorties{% endblock %}

{% block main %}
    <div class="events-container">
        {% for event in events %}
            <div class="event">
                <h2>{{ event.name }}</h2>
                <div class="event-date">
                    <p>Début le {{ event.startingDateHour | date('d-m-Y h:i:s') }}</p>
                    <p>Fin le {{ event.endDateHour | date('d-m-Y h:i:s') }}</p>
                </div>
                <div class="event-place">
                    <p>{{ event.place.street }} {{ event.place.postalCode }} {{ event.place.city }}</p>
                </div>
                <a href="">>> Détails</a>
                <div class="{{ event.state.label == "ouverte" ? 'event-green' : 'event-red' }}">
                    {{ event.state.label }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
