{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/events/event-list.css') }}">
{% endblock %}

{% block title %}{{ parent() }} - Liste des Sorties{% endblock %}

{% block main %}
    <div class="events-container">
        {% for event in events %}
            <div class="event">
                <div class="event-poster">
                    <a href="{{ path('event_detail', {id: event.id}) }}">
                        <img src="{{ asset('images/events/test.jpg') }}" alt="{{ event.name }}" title="{{ event.name }}">
                    </a>
                </div>

                <div class="event-info">
                    <div class="event-body">
                        <div class="event-description">
                            <h2><a href="{{ path('event_detail', {id: event.id}) }}">{{ event.name }}</a></h2>
                            <p>{{ event.startingDateHour | date('d/m/Y H:i:s') }}
                                - {{ event.endDateHour | date('d/m/Y H:i:s') }}</p>
                            <p>({{ event.duration }})</p>
                            <p>{{ event.place.street }} {{ event.place.postalCode }} {{ event.place.city }}</p>
                        </div>
                        <div class="participants">
                            <img src="{{ asset('uploads/users/' ~ event.organizer.name) }}" class="event-organizer">
                            <p>{{ event.participants|length }} / {{ event.nbInscriptionsMax }}</p>
                        </div>
                    </div>

                    <div class="event-state {{ event.state.label == "Ouverte" ? 'event-green' : 'event-red' }}">
                        {{ event.state.label }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if pages != 1 %}
        <div class="pagination">
            {% if page == 1 %}
                <div></div>
                <div></div>
                <div><a href="{{ path('_list', {page: page}) }}">{{ page }}</a></div>
                <div><a href="{{ path('_list', {page: page + 1}) }}">Next ></a></div>
                <div><a href="{{ path('_list', {page: pages}) }}">Last >></a></div>
            {% elseif page < pages %}
                <div><a href="{{ path('_list', {page: 1}) }}"><< First</a></div>
                <div><a href="{{ path('_list', {page: page - 1}) }}">< Prev</a></div>
                <div><a href="{{ path('_list', {page: page}) }}">{{ page }}</a></div>
                <div><a href="{{ path('_list', {page: page + 1}) }}">Next ></a></div>
                <div><a href="{{ path('_list', {page: pages}) }}">Last >></a></div>
            {% else %}
                <div><a href="{{ path('_list', {page: 1}) }}"><< First</a></div>
                <div><a href="{{ path('_list', {page: page - 1}) }}">< Prev</a></div>
                <div><a href="{{ path('_list', {page: page}) }}">{{ page }}</a></div>
                <div></div>
                <div></div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
