{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/events/event-list.css') }}">
{% endblock %}

{% block title %}{{ parent() }} - Liste des Sorties{% endblock %}

{% block main %}
    <div class="events-filters">
        {{ form_start(filters) }}
        {{ form_row(filters.campus) }}
        {{ form_row(filters.name) }}
        {{ form_row(filters.startingDay) }}
        {{ form_row(filters.endingDay) }}
        <div class="filters-checkboxes">
            <h3>Les événements :</h3>
            <div>
                {{ form_widget(filters.organizer) }}
                {{ form_label(filters.organizer) }}
            </div>
            <div>
                {{ form_widget(filters.subscribed) }}
                {{ form_label(filters.subscribed) }}
            </div>
            <div>
                {{ form_widget(filters.notSubscribed) }}
                {{ form_label(filters.notSubscribed) }}
            </div>
            <div>
                {{ form_widget(filters.passedEvents) }}
                {{ form_label(filters.passedEvents) }}
            </div>
        </div>
        {{ form_end(filters) }}
    </div>

    <div class="events-container">
        {% if events|length != 0 %}
            {% for date in eventsDates %}
                <div class="event-date-container">
                    <div class="event-date">
                        {{ date }}
                        {{ ux_icon('tabler:calendar-month') }}
                    </div>

                    {% for event in events %}
                        {% if event.startingDateHour | date('d/m/Y') == date %}

                            <div class="event">
                                <div class="event-poster">
                                    <a href="{{ path('event_detail', {id: event.id}) }}">
                                        <img src="{{ asset('uploads/events/' ~ event.posterFile) }}"
                                             alt="{{ event.name }}"
                                             title="{{ event.name }}">
                                    </a>
                                </div>

                                <div class="event-info">
                                    <div class="event-body">
                                        <div class="event-description">
                                            <h2>
                                                <a href="{{ path('event_detail', {id: event.id}) }}">{{ event.name }}</a>
                                            </h2>
                                            <div>
                                                {{ ux_icon('tabler:clock-hour-7') }}
                                                {{ event.startingDateHour | date('H:i:s') ~ ' (' ~ event.duration | duration }})
                                            </div>
                                            <div>
                                                {{ ux_icon('tabler:map-pin') }}
                                                {{ event.place.street ~ ' - ' ~ event.place.postalCode ~ ' ' ~ event.place.city }}
                                            </div>
                                        </div>
                                        <div class="participants">
                                            {% if event.organizer %}
                                                <img src="{{ asset('uploads/users/' ~ event.organizer.profilPicture) }}"
                                                     class="event-organizer"
                                                     alt="{{ event.organizer.name }}">
                                            {% else %}
                                                <img src="" alt="Organisateur supprimé">
                                            {% endif %}

                                            <div>
                                                {{ ux_icon('tabler:user') }}
                                                {{ event.participants|length }} / {{ event.nbInscriptionsMax }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="event-state">
                                        {{ event.state.label }}
                                        <div class="{{ event.state.label == "Ouverte" ? 'event-green' : 'event-red' }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <div class="event-date-container">
                <p>Aucun événement ne correspond à votre recherche.</p>
            </div>
        {% endif %}
    </div>

    {% if pages != 0 and pages != 1 %}
        <div class="pagination">
            {% if page == 1 %}
                <div></div>
                <div></div>
                <div><a href="{{ path('event_list', {page: page}) }}">{{ page }}</a></div>
                <div><a href="{{ path('event_list', {page: page + 1}) }}">Next ></a></div>
                <div><a href="{{ path('event_list', {page: pages}) }}">Last >></a></div>
            {% elseif page < pages %}
                <div><a href="{{ path('event_list', {page: 1}) }}"><< First</a></div>
                <div><a href="{{ path('event_list', {page: page - 1}) }}">< Prev</a></div>
                <div><a href="{{ path('event_list', {page: page}) }}">{{ page }}</a></div>
                <div><a href="{{ path('event_list', {page: page + 1}) }}">Next ></a></div>
                <div><a href="{{ path('event_list', {page: pages}) }}">Last >></a></div>
            {% else %}
                <div><a href="{{ path('event_list', {page: 1}) }}"><< First</a></div>
                <div><a href="{{ path('event_list', {page: page - 1}) }}">< Prev</a></div>
                <div><a href="{{ path('event_list', {page: page}) }}">{{ page }}</a></div>
                <div></div>
                <div></div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
