{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/events/event-detail.css') }}">
{% endblock %}


{% block title %}
{{ parent() }} - Détails du groupe
{% endblock %}

{% block main %}

<div class="event-detail-container">


    <h1>Détail du groupe : {{ groupDetails.name }}</h1>


    <h2>Événement associé :</h2>
    {% if groupDetails.name is not null %}
        <p>{{ groupDetails.name }}</p>
    {% else %}
        <p><em>Pas d’événement associé pour l’instant.</em></p>
    {% endif %}

    <h2>Membres du groupe :</h2>

    <div class="participants-list">
        {% for member in groupDetails.userList %}


        <a href="{{ path('app_profile', {id: member.id}) }}">
            <img src="{{ asset('uploads/users/' ~ member.profilPicture) }}" alt="Image de {{ member.firstName }}">
            <p>{{ member.firstName }} </p>
        </a>
        {% endfor %}
    </div>


</div>
{% endblock %}


