{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/events/event-detail.css') }}">
{% endblock %}


{% block title %}
{{ parent() }} - Détails du groupe
{% endblock %}

{% block main %}

<div class="event-detail-container">


    <h1>Détail du groupe : {{ groupDetails.name }}</h1>


    <h2>Événement associé :</h2>
    {% if groupDetails.name is not null %}
        <p>{{ groupDetails.name }}</p>
    {% else %}
        <p><em>Pas d’événement associé pour l’instant.</em></p>
    {% endif %}

    <h2>Membres du groupe :</h2>

<div class="participants-list">

    <ul>
        {% for member in groupDetails.userList %}
            <li>{{ member.firstName }} {{ member.name }}</li>
        {% endfor %}
    </ul>

</div>

</div>
{% endblock %}


