{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Mes groupes privés{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/places/place-list.css') }}">
{% endblock %}

{% block main %}
    <div class="places-container">
    <h2>Liste de mes groupes privés</h2>

        {% for group in groups %}
                    <a href="{{ path('group_detail', {id:group.id }) }}" class="place-card">
                        <h2>{{ group.name }} </h2></a>
        {% endfor %}

</div>

    <a href="{{ path('group_create') }}" class="plus">{{ ux_icon('tabler:plus') }}</a>
{% endblock %}
