{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/places/place-list.css') }}">
{% endblock %}
{% block title %}{{ parent() }} - Liste des lieux de sortie{% endblock %}

{% block main %}
    <div class="places-container">
        <h1> Lieux de sorties </h1>
        <p>Choisissez ou créez de nouveaux lieux !</p>
        {% for place in places %}
            <a href="{{ path('place_detail', {id:place.id }) }}" class="place-card">
                <h2>{{ place.name }}</h2></a>
        {% endfor %}
    </div>

    <a href="{{ path('place_create') }}" class="plus">{{ ux_icon('tabler:plus') }}</a>
{% endblock %}
