{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Créer un super event{% endblock %}

{% block main %}
    <h1 class="place-title">Créez un lieu</h1>

    {{ form_start(place_create) }}

    {{ form_errors(place_create) }}

    {{ form_row(place_create.name) }}

    <div class="save-btn" data-controller="placemaker">
        <button type="button"
                data-action="click->placemaker#showForm"
                data-placemaker-div1-param="address"
                data-placemaker-div2-param="gps"
                class="link-btn active-tag">
            Ajout avec l'adresse
        </button>
        OU
        <button type="button"
                data-action="click->placemaker#showForm"
                data-placemaker-div1-param="gps"
                data-placemaker-div2-param="address"
                class="link-btn">
            Ajout avec les coordonnées GPS
        </button>
    </div>

    <div id="address">
        {{ form_row(place_create.street) }}
        {{ form_row(place_create.postalCode) }}
        {{ form_row(place_create.city) }}
    </div>

    <div id="gps" style="display: none;">
        {{ form_row(place_create.latitude) }}
        {{ form_row(place_create.longitude) }}
    </div>

    {{ form_widget(place_create.save) }}

    {{ form_end(place_create) }}


{% endblock %}
