<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Eni Sortir{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('styles/forms/forms.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/forms/select.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/themes/themes.css') }}">

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}

    {% block stylesheets %}

    {% endblock %}

</head>
<body data-controller="themes">
<header>
    <div class="logo-nav">
        <a href="{{ path('app_main') }}"><img src="" alt="logo"></a>
        <a href="{{ path('app_main') }}"><h1>ENI SORTIR</h1></a>
        {% if is_granted('IS_AUTHENTICATED') %}
        <a class="nav-responsive" href="{{ path('event_list') }}">Événements</a>
        <a class="nav-responsive" href="{{ path('place_list') }}">Lieux</a>
        {% endif %}
    </div>
    <nav data-controller="burger">
        <div class="burger-container" data-action="click->burger#menu">
            <div class="burgerBtn">
                <span id="burger" data-burger-target="burger"></span>
            </div>
        </div>
        <div id="responsive" data-burger-target="menu">
            {% if is_granted('IS_AUTHENTICATED') %}
                <ul>
                    <li>
                        <a href="{{ path('app_update', {id:app.user.id}) }}">
                            {{ ux_icon('tabler:user') }}
                            Profil
                        </a>
                    </li>
                    <li>
                        <a href="">
                            {{ ux_icon('tabler:settings') }}
                            Préférences
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_logout') }}">
                            {{ ux_icon('tabler:logout') }}
                            Se déconnecter
                        </a>
                    </li>
                </ul>
                <ul>
                    <li><a href="{{ path('event_list') }}">Liste des événements</a></li>
                    <li><a href="{{ path('event_create') }}">Créer un événement</a></li>
                </ul>
                <ul>
                    <li><a href="{{ path('place_list') }}">Liste des lieux de sortie</a></li>
                    <li><a href="{{ path('place_create') }}">Créer un lieu de sortie</a></li>

                </ul>
                <ul>
                    <li><a href="{{ path('group_list') }}">Liste de mes groupes privés</a></li>
                    <li><a id="create-group-link" href="{{ path('group_create') }}">Créer un groupe privé</a></li>
                 </ul>

            {% else %}
                <ul>
                    <li>
                        <a href="{{ path('app_login') }}">
                            {{ ux_icon('tabler:login') }}
                            Se connecter
                        </a>
                    </li>
                    <li>
                        <a href="{{ path ('app_register') }}">
                            {{ ux_icon('tabler:arrow-bar-up') }}
                            S'inscrire
                        </a>
                    </li>
                </ul>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <ul>
                    <li><a href="{{ path('app_users_list') }}">Liste des utilisateurs</a></li>
                    <li><a href="{{ path('app_register') }}">Ajouter un utilisateur</a></li>
                </ul>
            {% endif %}
        </div>
    </nav>
</header>
<main>
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block main %}
        <h2>Bienvenue sur le site de Sortir.com !</h2>
        <p>Connectez-vous ou créez un compte et accédez à vos évènements</p>
        <button data-themes-id-param="dark-mode" data-action="click->themes#setTheme"></button>
    {% endblock %}

</main>
<footer></footer>

</body>
</html>


