<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Eni Sortir{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<header>
    <div class="logo-nav">
        <a href="{{ path('app_main') }}"><img src="" alt="logo"></a>
        <a href="{{ path('app_main') }}"><h1>ENI SORTIR</h1></a>
        <a href="{{ path('event_list') }}">Événements</a>
    </div>
    <nav data-controller="burger">
        <div class="burger-container" data-action="click->burger#menu">
            <div class="burgerBtn">
                <span id="burger" data-burger-target="burger"></span>
            </div>
        </div>
        <div id="responsive" data-burger-target="menu">
            {% if is_granted('IS_AUTHENTICATED') %}
                <ul>
                    <li><a href="{{ path('app_update', {id:app.user.id}) }}">Profil</a></li>
                    <li><a href="{{ path('app_logout') }}">Préférences</a></li>
                    <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                </ul>
                <ul>
                    <li><a href="{{ path('event_list') }}">Liste des sorties</a></li>
                    <li><a href="{{ path('event_create') }}">Créer un évènement</a></li>
                    <li><a href="{{ path('place_create') }}">Créer un lieu de sortie</a></li>
                </ul>
            {% else %}
                <ul>
                    <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                    <li><a href="{{ path ('app_register') }}">S'inscrire</a></li>
                </ul>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <ul>
                    <li><a href="{{ path('app_users_list') }}">Liste des utilisateurs</a></li>
                    <li><a href="{{ path('app_register') }}">Ajouter un utilisateur</a></li>
                </ul>
            {% endif %}
        </div>
    </nav>
</header>
<main>
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block main %}
        <h2>Bienvenue sur le site de Sortir.com !</h2>
        <p>Salut !</p>
    {% endblock %}
</main>
<footer></footer>
</body>
</html>
