<h2>Profil {{ user.firstName|first|lower in "aeiouy" ? "d'" : "de" }}{{ user.firstName }}</h2>

<div class="profile-pic">
    <img src="{{ asset('uploads/users/' ~ user.profilPicture) }}" id="profile-pic"
         alt="photo de profil de {{ user.firstName }}">
</div>

<div class="form-errors">
    {{ form_errors(edit_form) }}
</div>

{{ form_start(edit_form) }}
    {{ form_row(edit_form.profilPicture) }}
    {{ form_row(edit_form.firstName) }}
    {{ form_row(edit_form.name) }}
    {{ form_row(edit_form.phoneNumber) }}
    {% if app.user.id == id %}
        {{ form_row(edit_form.plainPassword) }}
    {% endif %}
    {% if app.user.id == id and is_granted('ROLE_ADMIN') %}
        {{ form_row(edit_form.campus) }}
    {% endif %}
<div class="save-btn">
    {{ form_widget(edit_form.submit) }}
</div>
<div class="save-btn separator">
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_users_delete', {id: user.id, _token : csrf_token('delete'~user.id)}) }}"
           onclick="return confirm('Etes vous sûr ?')" class="delete link-btn">Supprimer</a>

        {% if user.isActive == true %}
            <a href="{{ path('app_users_disable', {id: user.id}) }}"
               onclick="return confirm('Etes vous sûr ?')" class="deactivate link-btn">Désactiver</a>
        {% else %}
            <a href="{{ path('app_users_disable', {id: user.id}) }}"
               onclick="return confirm('Etes vous sûr ?')" class="activate link-btn">Activer</a>
        {% endif %}

        {% if user.isAdmin == false %}
            <a href="{{ path('app_users_promote', {id: user.id}) }}" class="activate link-btn">Promouvoir </a>
        {% else %}
            <a href="{{ path('app_users_promote', {id: user.id}) }}" class="deactivate link-btn">Retrograder </a>
        {% endif %}

        <a href="{{ path('app_users_list') }}" class="return link-btn">Retour</a>
    {% else %}
        <a href="{{ path('app_main') }}" class="return link-btn">Retour</a>
    {% endif %}
</div>

{{ form_end(edit_form) }}
