{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Profil{% endblock %}

{% block main %}

    <h2>Profil de {{ user.firstName }}</h2>

    {{ form_errors(edit_form) }}

    {{ form(edit_form) }}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_users_delete', {id: user.id, _token : csrf_token('delete'~user.id)}) }}"
           onclick="return confirm('Etes vous sûr?')">Supprimer</a>
        {% if user.isActive == true %}
            <a href="{{ path('app_users_disable', {id: user.id}) }}"
               onclick="return confirm('Etes vous sûr?')">Désactiver</a>
        {% else %}
            <a href="{{ path('app_users_disable', {id: user.id}) }}" onclick="return confirm('Etes vous sûr?')">Activer</a>
        {% endif %}

        {% if user.isAdmin == false %}
            <a href="{{ path('app_users_promote', {id: user.id}) }}">Promouvoir </a>
        {% else %}
            <a href="{{ path('app_users_promote', {id: user.id}) }}">Retrograder </a>
        {% endif %}
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_users_list') }}">Retour</a>
    {% else %}
        <a href="{{ path('app_main') }}">Retour</a>
    {% endif %}

{% endblock %}

