{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Profil{% endblock %}

{% block main %}
    <h2 class="profile-title">{{ participant.firstName }} {{ participant.name | upper }} </h2>

    <div class="profile-pic">
        <img src="{{ asset('uploads/users/' ~ participant.profilPicture) }}"
             alt="photo de profil de {{ participant.firstName }}">
    </div>

    <div class="user-info">
        <p><strong>Prénom :</strong> {{ participant.firstName }}</p>
        <p><strong>Nom :</strong> {{ participant.name }}</p>
        <p><strong>Email :</strong> {{ participant.email }}</p>
        <p><strong>Téléphone :</strong> {{ participant.phoneNumber }}</p>
        <p><strong>Campus :</strong> {{ participant.campus.name }}</p>
    </div>

    <div class="events-container">
        <p class="events-title"><strong>Mes événements :</strong></p>
        {% if events|length != 0 %}
            {% include 'includes/event.html.twig' %}
        {% else %}
            <div class="event-date-container">
                <p>Vous n'avez aucun événement en cours</p>
            </div>
        {% endif %}
    </div>

    <div class="detail-links">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_update', {'id' : participant.id }) }}" class="link-btn deactivate">
                Éditer ce profil
            </a>
        {% endif %}

        <a href="{{ path('event_list') }}" class="return link-btn">
            Retour
        </a>
    </div>

{% endblock %}