{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Liste des utilisateurs{% endblock %}

{% block main %}
    <h2>Liste des utilisateurs</h2>

    <div class="users-list">
        {% for user in users %}
            <div class="user">
                <div class="user-pic">
                    <a href="{{ path('app_profile', {id: user.id}) }}">
                        <img src="{{ asset('uploads/users/' ~ user.profilPicture) }}"
                             alt="Image de {{ user.firstName }}">
                    </a>
                </div>
                <a href="{{ path('app_profile', {id: user.id}) }}">
                    <p>{{ user.name | upper }} {{ user.firstName }}</p>
                </a>
            </div>
        {% endfor %}
    </div>

    {{ form_start(import_form) }}
    {{ form_errors(import_form) }}
    {{ form_widget(import_form) }}
    {{ form_end(import_form) }}
{% endblock %}