<h2> Bonjour {{ user.name }}</h2>

<p> Félicitation ! Tu t'es bien inscrit.e à l'événement {{  event.name }}</p>
<p> Petit rappel des informations :</p>
<p> Organisateur : {{ event.organizer.firstName }} {{ event.organizer.name }}</p>
<p> Date : {{ event.startingDateHour | date('d/m/Y H:i') }}</p>
<p> Lieu : {{  event.place }}</p>
<p> Tu recevras un mail de rappel 48 heures avant le début de l'événement</p>
<p> A bientôt pour de nouvelles aventures !! </p>


